main {
  min-height: 80vh;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-decoration: none;
}
h3 {
  padding: 1 rem;
}
.rating span {
  margin: 0.1rem;
}
.mainContainer {
  padding-top: 80px;
}
.btnAddCart {
  min-width: 100%;
}
.btnGoCheckout {
  min-width: 100%;
}
.formControl {
  max-width: 70px;
}
.qtyCol {
  max-width: 92px;
}

.imageInCart {
  text-align: center;
}

.linkText {
  text-decoration: none;
}

.cartInputPosition {
  position: relative;
  top: 9px;
}

.signInButton {
  position: relative;
  top: 10px;
}
