main {
  min-height: 80vh;
}
body{
  font-weight: 400;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-decoration: none;
}
h3 {
  padding: 1 rem;
}
.rating span {
  margin: 0.1rem;
}
.mainContainer {
  padding-top: 90px;
}
.btnAddCart {
  min-width: 100%;
}
.btnGoCheckout {
  min-width: 100%;
}
.btnCreateProduct {
  float: right;
}
.formControl {
  max-width: 70px;
}
.qtyCol {
  max-width: 30%;
}

.imageInCart {
  text-align: center;
}

.linkText {
  text-decoration: none;
}

.cartInputPosition {
  position: relative;
  top: 9px;
}

.submitButton {
  position: relative;
  top: 10px;
}

.checkOutNav {
  max-width: 20%;
}

.fullwidthBtn {
  min-width: 100%;
}

.searchForm {
  display: flex;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 0%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.searchBtn {
  margin-left: 1rem;
}

.galleryBox {
  padding-top: 1.25rem;
}
.galleryBox img {
  max-height: 13.125rem;
  width: auto;
  align-self: center;
  margin: auto;
}
.col-lg-4 .galleryBox img {
  max-height: 18rem;
}
@media (max-width: 575.98px) {
  .col-lg-4 .galleryBox img {
    max-height: 13.125rem;
  }
}

.galleryBox .card-body {
  margin-top: auto;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.cardHover:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(2, 64, 202);
}
